html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-card {
  margin: 15px 0;
}
.el-table{
  margin-top: 15px;
  font-size: 12px;
}
.el-table--border th.gutter:last-of-type {
  display: block!important;
}
.el-cascader {
  width: 100% !important;
}
.el-pagination {
  margin-top: 15px;
}
.el-step {
  margin: 15px 0;
}
.el-step__title {
  font-size: 13px;
}
.btns {
  display: flex;
  justify-content: flex-end;
}
.ql-editor {
  min-height: 200px !important ;
}